<div class="wrapper">

    <main-header></main-header>
    <!-- Left side column. contains the logo and sidebar -->
    <main-sidebar></main-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    </div>
    <!-- /.content-wrapper -->
    <main-footer></main-footer>
</div>


<!-- ./wrapper -->


<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<!--<top-menu></top-menu>-->
<!--</nav>-->

<!--<div class="container body-container">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->

<!--<footer class="footer">-->
<!--<div class="container">-->
<!--<p class="text-muted">Created by <a href="https://github.com/blacksonic">Soós Gábor</a>.</p>-->
<!--</div>-->
<!--</footer>-->
